<div class="container-fluid p-5 d-flex flex-column justify-content-center">
  <div class="row w-100">
    <div class="col-md-4">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Route Name</mat-label>
        <input matInput type="text" [(ngModel)]="routePath" />
        <button
          *ngIf="routePath"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="routePath = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <button
        mat-raised-button
        [disabled]="routePath === ''"
        class="w-100"
        (click)="connect()"
        color="primary"
      >
        Connect
      </button>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-md-12">
      <div class="alert" [ngClass]="getAlert()">
        {{ connectionState }}
      </div>
    </div>
  </div>

  <hr />

  <div class="row w-100">
    <div class="col-md-4">
      <div class="d-flex flex-column">
        <div class="w-100">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Strongly Typed Method</mat-label>
            <input matInput type="text" [(ngModel)]="stronglyMethodToSubscribe" />
            <button
              *ngIf="stronglyMethodToSubscribe"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="receive()"
            >
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="">
          <pre>
            {{ messageData | json }}
          </pre>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column">
        <div class="w-100">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Call with Params</mat-label>
            <input matInput type="text" [(ngModel)]="methodToCall" />
            <button
              *ngIf="methodToCall"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="callSever()"
            >
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>body</mat-label>
            <textarea matInput [(ngModel)]="paramsBody"></textarea>
            <button
              *ngIf="paramsBody"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="paramsBody = ''"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="">
          <pre>
            {{ signalRMessageDataCaller | json }}
          </pre>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column">
        <div class="w-100">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Subscription</mat-label>
            <input matInput type="text" [(ngModel)]="methodToSubscribe" />
            <button
              *ngIf="methodToSubscribe"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="continuos()"
            >
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="">
          <pre>
            {{ signalRMessageDataContinuos | json }}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
